html{
  height: 100vh;
}
#root{
  display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

div{
    .login-form{
        
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
       
 }

    


}

.header-container {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    
  }

  .header-logo-img, img{
    height:100%;
  }
  
  

  .login-wrapper{

    background-color: rgb(255, 255, 255);
     border-radius: 10%;
     width: 28%;
     height: 25rem;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;

    margin-top: 5rem;
    border-color: rgb(192, 192, 193);
    border-style:unset;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.19);

       
  }

  .login-page-wrapper{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    
  }

 ul{
  list-style-type:none;
 }

 .product-list {
  ul{
    display: flex;
  flex-wrap:wrap;
  }
 }

 .admin-content-wrapper{
  width: 100%;
  height:700px;
  
display: flex;
align-items:center;
justify-content:space-evenly;


 }


.show-allitem-button{
  margin: 20px;
  margin-top: 9px;
  margin-bottom: 13px;
}

.form-upload{
  margin-right: 200px;
 
  
}

.main-footer{
 margin-top: auto;
  text-align: center;
  
}

.main-header{
  
    position: sticky;
    top: 0;
    z-index: 1;
    
    display: flex;
    align-items: center;
    height: 100px;
    justify-content:space-between;
    padding: 0 20px;
 
    .user-dropdown{
      margin-right: 19px;
      color: rgb(232, 236, 241);

    }
    .user-dropdown:hover{
      color : rgb(151, 155, 156)
    }
    .right-content{
      display: flex;
      align-items:center ;
      justify-content: center;
      .translation-button{
              width: 50px;
              height: 35px;
              margin-right: 10px;
              padding: 0;
             
              .flag-image{
                border-radius: 3px;
                height: 100%;
                width: 100%;
              }

      }
      .cart-icon{
       display: flex;
       align-items: center;
       justify-content: center;
       margin-right: 20px;
       margin-top:3px;
       color:white;
      font-weight: bold  ;
      cursor: pointer;
      }
            }
            
    .search-bar {
      border-radius: 30px;
      width: 70%;
      height: 35px;
    }
}

.email-input{
  width: 15rem;
  height: 2.5rem ;
}
.login-image{
   width: 33%;
   margin-top: 1.2rem;
   border-radius: 30px;
}
.password-input{
   width: 15rem;
   height: 2.5rem;
}
.login-button{
  height: 2.2rem;
   width: 7rem;
    margin-left: 3rem;
}
.product-price{
  font-family: sans-serif;
  font-size: 18px;
  padding-top: 15px;
}
.product-card{
  box-shadow: 2px 2px 5px 0px rgba(0, 64, 128, 0.1);
  width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   Button{
    
   
    margin-left: 120px;
   }

}

.main-layout{
  padding: 0 24px 24px;
}
.main-breadcrumb{
  margin: 16px 0;
}
.menu-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
 
  margin: 60px;
  box-shadow: 2px 2px 5px 1px rgba(0, 64, 128, 0.1), -2px -2px 5px 1px rgba(0, 64, 128, 0.1);
  
  .img-wrapper{
    width: 550px;
    
  }
  img{
    
    width: 100%;
    object-fit: contain; /* Görüntüyü dengeli bir şekilde container içinde yerleştir */
    aspect-ratio: 1/1; /* İstenen en-boy oranı */
   
  }
  .product-info{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content:center;
    width: 45%;
    margin-left: 100px ;
      .input-description{
       
        height: 145px;
        width: 470px;
        font-family: sans-serif;
        font-size: 17px;
        padding-top: 20px;
        margin-bottom: 40px;
      }
      .input-name{
        font-family: sans-serif;
        font-size: 20px;
        padding-top: 10px;
        margin-bottom: 40px;
      }

      .input-price{
        font-family: sans-serif;
  font-size: 18px;
  padding-top: 10px;
  margin-bottom: 40px;
 
      }
  }
  .product-edit{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content:center;
    width: 45%;
    margin-left: 100px ;
    margin-right: 70px;
    .exit-button{
      width: fit-content;
    }
    label{
        margin-bottom: 7px;
        font-family: sans-serif;
        font-size:19px;
    }
      .input-description{
       
        height: 145px;
        width: 470px;
        font-family: sans-serif;
        font-size: 17px;
        padding-top: 20px;
        margin-bottom: 40px;
      }
      .input-name{
        font-family: sans-serif;
        font-size: 20px;
        padding-top: 10px;
        margin-bottom: 40px;
      }

      .input-price{
        font-family: sans-serif;
  font-size: 18px;
  padding-top: 10px;
  margin-bottom: 40px;
      }
  }
  Button{
    margin-left: 50px;
    width: 115px;
    height: 35px;
   
  }
}
.add-to-cart-button{
  margin-top: 10px;
}

.cart-content{
  display: flex;
  
  justify-content: space-evenly;
  width: 100%;
  
.cart-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  .cart-item-wrapper{

    display: flex;
    align-items:center;
    border-radius: 15px;
    justify-content: space-evenly;
    width: 110%;
    height: 180px;
    box-shadow: 2px 2px 5px 1px rgba(0, 64, 128, 0.1), -2px -2px 5px 1px rgba(0, 64, 128, 0.1);
    margin: 10px;
    padding-right:15px;
    padding-left: 15px;
    
    .quantity-wrapper{
      display: flex;
      align-items: center;
      margin-left:-120px;
      margin-right: 20px;
    }

    h4{
      margin-right: 50px;
    }
    p{
      margin-right: 20px;
      width: 90px;
    }
    img{
      object-fit: contain;
      margin-left: -190px;
    }
    .input-quantity{
     
      width: 45px;
      padding-left: 15px;
     }

     a{
      cursor: pointer;
      border-radius: 10px;
     }
     a:hover{
      background-color: rgb(223, 223, 235);
     }
   
  }
  
}
.cart-right-content{
  display: flex;
  align-items: center;
  position: sticky;
  top: 20%;
  justify-content:space-around;
  flex-direction: column;
  margin-top: 75px;
  box-shadow: 2px 2px 5px 1px rgba(0, 64, 128, 0.1), -2px -2px 5px 1px rgba(0, 64, 128, 0.1);
  border-radius: 20px;
  height: 400px;
  width: 400px;
  h3{
    font: bold;
    font-family:sans-serif;
    margin-left:6px;
  }
  Button{
    margin: 5px;
  }
}
}
